CONFIG_BOARD_TYPE_XINGZHI_Cube_2_0TFT_COMBINE_WIFI=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v1/partitions_combine.csv"
CONFIG_ZMK_SCANNER_MODE=y
CONFIG_ZMK_SCANNER_NAME_FILTER=""
CONFIG_USE_DEFAULT_MESSAGE_STYLE=y
CONFIG_LANGUAGE_ZH_CN=y
